entrypoint = "main.py"
modules = ["python-3.11:v14-20231207-2f65342"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"
packages = ["gdb"]

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Python App"

[[workflows.workflow]]
name = "Run Python App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36519
externalPort = 3000

[[ports]]
localPort = 45857
externalPort = 3001
